.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper{
  margin: 0 auto;
}
#wrapper #footer{  
  text-align: center;
  font-size: 0.8em;
  color: #ffffff;
  padding-top: 10px;
}
#quote-box{
  width: 450px;
  padding: 40px 50px;
  background-color: #ffffff;
}
#quote-box .quote-text{
  font-size: 1.3em;
  font-weight: 500;
  clear: both;
}
#quote-box .quote-author{
  text-align: right;
  font-size: 0.9em;
}
#quote-box .buttons{
  margin-top: 30px;  
}
#quote-box .buttons a{
  font-size: 35px;
}
#quote-box .buttons #tumblr-quote{
  padding-left: 10px;
}
#quote-box #new-quote{
  float: right;
  padding: 8px 18px 6px 18px;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #ffffff;
}